# Compiled Object files
*.slo
*.lo
*.o
*.os
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Project temp file
*.dblite

# editor temp file
*~

# output directory
out/
